* {
	font-size: 16px;
	font-family: "Droid Sans";
	color: #fff;
        font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
    	transition: all 200ms ease-in-out;
}
window#waybar {
	background: transparent;
	color: #fdf6e3;
}
#custom-rofi,
#custom-terminal,
#custom-firefox,
#custom-arquivos,
#custom-telegram,
#custom-pacman,
#workspaces,
#clock.1,
#clock.2,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#tray,
#custom-desligar {
	background: transparent;
    opacity: 0.7;
}
#custom-rofi {
	color: #fff;
	background: transparent;
}
#custom-terminal {
	color: #fff;
	background: transparent;
}
#custom-firefox {
	color: #fff;
	background: transparent;
}
#custom-arquivos {
	color: #fff;
	background: transparent;
}
#custom-telegram {
	color: #fff;
	background: transparent;
}
#custom-pacman {
	color: #fff;
	background: transparent;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #b600bd;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}
#clock.1 {
    color: #fff;
    background:transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#clock.2 {
    color: #fff;
    background: transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#pulseaudio {
	color: #fff;
	background: transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#backlight {
	color: #fff;
	background: transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#memory {
	color: #fff;
	background: transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#temperature {
	color: #fff;
	background: transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#cpu {
	color: #fff;
	background: transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#battery {
	color: #fff;
	background: transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#custom-desligar {
	color: #fff;
	background: transparent;
font-weight: bold;
 	text-shadow: 0 0 2px alpha (#000, 0.3), 0 1px 2px alpha (#000, 0.6);
}
#custom-rofi,
#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#custom-desligar {
	padding: 0 10px;

}

